{% extends "base.html" %} {% block content %} {% load social_share %}
<div class="about-section">
  <h1>Onion News Aggregator</h1>
  <hr>
  <div class="sections">
    <h2>About Us</h2>
    <!-- Moved to left -->
    <p>
      Welcome to Onion News Aggregator! We are dedicated to bringing you the
      latest news from various categories.
    </p>
  </div>
  <div class="sections">
    <h2>Contact Us</h2>
    <p>
      If you have any questions or feedback, feel free to reach out to us:
    </p>
    <ul>
      <li>Email: contact@onionnews.com</li>
      <li>Phone: 123-456-7890</li>
      <li>Address: 123 Onion Street, Onionville, ON 12345</li>
    </ul>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% endblock %}
  
