{% extends "base.html" %} {% block content %} {% load social_share %}
<div class="container">
  <div class="jumbotron">
    <center>
      <h2 class="display-3">Onion News Aggregator</h2>
      <div class="dropdown">
        <button
          class="btn btn-success dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Category
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'scrape' name='latest' %}"
            >Latest</a
          >
          <a
            class="dropdown-item"
            href="{% url 'scrape' name='entertainment' %}"
            >Entertainment</a
          >
          <a class="dropdown-item" href="{% url 'scrape' name='sports' %}"
            >Sports</a
          >
          <a class="dropdown-item" href="{% url 'scrape' name='politics' %}"
            >Politics</a
          >
          <a class="dropdown-item" href="{% url 'scrape' name='opinion' %}"
            >Opinion</a
          >
          <a
            class="dropdown-item"
            href="{% url 'scrape' name='breaking-news' %}"
            >Breaking News</a
          >
        </div>
      </div>
      <button
        class="btn btn-warning btn-lg btn-block m-4 p-2"
        onclick="themeChange()"
      >
        Change Theme
      </button>
    </center>
  </div>

  <div class="row mt-2 p-2">
    {% for record in object_list %}
    <div class="col-12 col-md-4 col-lg-3">
      <div class="card mb-4">
        <img class="card-img-top" src="{{ record.image }}" />
        <div class="card-body">
          <h5 class="card-title">
            <!-- Modify this anchor tag to open news content in a pop-up window -->
            <a
              href="#"
              class="news-link"
              onclick="openNewsPopup('{{ record.url }}')"
              >{{ record.title|truncatechars:50 }}</a
            >
          </h5>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between flex-wrap">
            <div class="mb-2">
              <!-- Copy Button -->
              <button
                class="btn btn-secondary btn-sm btn-block"
                onclick="copyToClipboard('{{ record.url }}')"
              >
                Copy
              </button>
            </div>
            <div class="mb-2">
              <!-- Report Button -->
              <button class="btn btn-danger btn-sm btn-block" onclick=" ">
                Report
              </button>
            </div>

            <div class="mb-2">
              <!-- Instagram Button -->
              <a
                href="https://www.instagram.com/share?url={{ record.url }}"
                target="_blank"
                class="btn btn-instagram btn-sm"
                >Share on Instagram</a
              >
            </div>
            <div class="mb-2">
              <!-- WhatsApp Button -->
              <a
                href="https://api.whatsapp.com/send?text=Check%20out%20this%20link:%20{{ record.url }}"
                target="_blank"
                class="btn btn-whatsapp btn-sm"
                >Share on WhatsApp</a
              >
            </div>
            <div class="mb-2">
              <!-- Facebook Button -->
              <a
                href="https://www.facebook.com/sharer/sharer.php?
              u={{ record.url }}"
                target="_blank"
                class="btn btn-facebook btn-sm"
                >Share on Facebook</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- Closing the container div -->

<script>
  // JavaScript function to open news content in a pop-up window
  function openNewsPopup(url) {
    // Define width and height for the pop-up window
    var width = 800;
    var height = 600;
    // Calculate the position to center the pop-up window on the screen
    var leftPosition = (window.screen.width - width) / 2;
    var topPosition = (window.screen.height - height) / 2;
    // Construct the features for the pop-up window
    var features =
      "toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=" +
      width +
      ", height=" +
      height +
      ", top=" +
      topPosition +
      ", left=" +
      leftPosition;
    // Open the pop-up window with the specified URL and features
    var popupWindow = window.open(url, "NewsPopup", features);
    // Focus on the pop-up window
    if (window.focus) {
      popupWindow.focus();
    }
    // Prevent the default behavior of the anchor tag
    return false;
  }

  // add a temporary textarea element, set url to it, select from there
  function copyToClipboard(text) {
    var input = document.createElement("textarea"); //create text area
    input.value = text; //url set as value to textarea
    document.body.appendChild(input); //add text area to body
    input.select(); //select textarea content
    document.execCommand("copy");
    document.body.removeChild(input);
    alert("Copied to clipboard: " + text);
  }

  function themeChange() {
    var element = document.body;
    element.classList.toggle("dark-mode");
  }
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

{% endblock %}
