<!DOCTYPE html>
<html>
  <head>
    <title>News Aggregator</title>

    <title>Login and Register in Header</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
     <style>
        /* Custom CSS for login form */
        .dropdown-menu.login-form {
            width: 200px; /* Reduced width */
            padding: 10px; /* Reduced padding */
            background-color: #000; /* Black background color */
        }
        .dropdown-menu.login-form label {
            font-weight: bold;
            color: #fff; /* White text color */
        }
        .dropdown-menu.login-form input[type="text"],
        .dropdown-menu.login-form input[type="password"] {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ced4da;
            border-radius: 4px;
            box-sizing: border-box;
            background-color: #222; /* Dark background color */
            color: #fff; /* White text color */
        }
        .dropdown-menu.login-form button[type="submit"] {
            width: 100%;
            padding: 8px;
            border: none;
            border-radius: 4px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
        }
        .dropdown-menu.login-form button[type="submit"]:hover {
            background-color: #0056b3;
        }
        .dropdown-divider {
            margin: 10px 0;
        }
        #loginBox{
          z-index:200;
          display: none;
          position:sticky;
          top:10px;
        }
        #registerBox{
          z-index:200;
          display: none;
          position:sticky;
          top:10px;
        }
        #container2{
          /* padding: 25px; */
          background-color: white;
          color: black;
          font-size: 25px;
          position:relative;
          /* left:10vw; */
        }
        /* class selector for dark mode*/
        .dark-mode {
          background-color: black;
          color: white;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {% if user %}
          <li class="nav-item" id="logoutButton" >
            <div style="display: inline-block; padding: 3px 5px; font-size: 25px; color:#ced4da;">Hello, {{user}}</div>
            <a class="btn btn-danger" href="{% url 'logout' %}" >Logout</a>
          </li>
        {% else %}
          <li class="nav-item dropdown" id="loginDropdown">
            <button class="btn btn-danger" id="loginbtn">Login/Register</button>
          </li>
        {% endif%}
      </ul>
    </div>
  </div>
</nav>
<div id="loginBox">
  {% include 'loginpage.html' %}
</div>
<div id="registerBox">
  {% include 'register.html' %}
</div>
    <div id="container2">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
      <div class="container">
        <!-- Changed the position of "About" hyperlink -->
        <a class="navbar-brand font-weight-bold" href="/about/">About</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'scrape' name='latest' %}"
                >Latest</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'scrape' name='entertainment' %}"
                >Entertainment</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'scrape' name='sports' %}"
                >Sports</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'scrape' name='politics' %}"
                >Politics</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'scrape' name='opinion' %}"
                >Opinion</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'scrape' name='breaking-news' %}"
                >Breaking News</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% load social_share %}
    {% for message in messages %}
      <p>{{message}}</p>
    {% endfor %}
    <div class="container">
      <div class="jumbotron" style="background-color: rgb(237, 119, 28)">
        <center>
          <h2 class="display-3 text-white">Onion News Aggregator</h2>
          <div class="dropdown">
            <button
              class="btn btn-success dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Category
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{% url 'scrape' name='latest' %}"
                >Latest</a
              >
              <a
                class="dropdown-item"
                href="{% url 'scrape' name='entertainment' %}"
                >Entertainment</a
              >
              <a class="dropdown-item" href="{% url 'scrape' name='sports' %}"
                >Sports</a
              >
              <a class="dropdown-item" href="{% url 'scrape' name='politics' %}"
                >Politics</a
              >
              <a class="dropdown-item" href="{% url 'scrape' name='opinion' %}"
                >Opinion</a
              >
              <a
                class="dropdown-item"
                href="{% url 'scrape' name='breaking-news' %}"
                >Breaking News</a
              >
            </div>
          </div>
          <button
            class="btn btn-warning btn-lg btn-block m-4 p-2"
            onclick="themeChange()"
          >
            Change Theme
          </button>
        </center>
      </div>
    
    <div class="row mt-2 p-2">
      {% for record in object_list %}
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{{ record.image }}" alt="News Image" loading="lazy">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-truncate">
              <a href="#" class="news-link text-dark" data-toggle="modal" data-target="#newsModal" data-url="{{ record.url }}">{{ record.title }}</a>
            </h5>
            <p class="card-text flex-grow-1">{{ record.description|truncatechars:100 }}</p>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="mb-2">
                <button class="btn btn-secondary" onclick="copyToClipboard('{{ record.url }}')" aria-label="Copy URL">
                   Copy
                </button>
              </div>
              <div class="mb-2">
                <button class="btn btn-danger" data-toggle="modal" data-target="#reportModal" aria-label="Report">
                   Report
                </button>
              </div>
              <div class="mb-2 p-md-1">
                <div class="btn-group" role="group">
                  <a href="https://www.instagram.com/share?url={{ record.url }}" target="_blank" class="social-icon fa fa-instagram" aria-label="Share on Instagram"></a>
                  <a href="https://api.whatsapp.com/send?text=Check%20out%20this%20link:%20{{ record.url }}" target="_blank" class="social-icon fa fa-whatsapp" aria-label="Share on WhatsApp"></a>
                  <a href="https://www.facebook.com/sharer/sharer.php?u={{ record.url }}" target="_blank" class="social-icon fa fa-facebook" aria-label="Share on Facebook"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    
    
    <!-- News Modal -->
    <div class="modal fade" id="newsModal" tabindex="-1" aria-labelledby="newsModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="newsModalLabel">News Article</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <iframe id="newsFrame" src="" frameborder="0" style="width: 100%; height: 80vh;"></iframe>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Report Modal -->
    <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="reportModalLabel">Report Content</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="reportReason">Reason for reporting:</label>
                <select class="form-control" id="reportReason">
                  <option value="inappropriate">Inappropriate content</option>
                  <option value="misleading">Misleading information</option>
                  <option value="spam">Spam</option>
                  <option value="other">Other</option>
                </select>
              </div>
              <div class="form-group">
                <label for="reportDescription">Description:</label>
                <textarea class="form-control" id="reportDescription" rows="3"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" onclick="submitReport()">Submit</button>
          </div>
        </div>
      </div>
    </div>
    
    <script>
      function openNewsPopup(url) {
        const newsFrame = document.getElementById('newsFrame');
        newsFrame.src = url;
        $('#newsModal').modal('show');
      }
    
      function submitReport() {
        // Implement report submission logic here
        $('#reportModal').modal('hide');
      }
    
      $(document).ready(function() {
        $('.news-link').on('click', function(e) {
          e.preventDefault();
          const url = $(this).data('url');
          openNewsPopup(url);
        });
      });
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
  /* Style all font awesome icons */
  .fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  /* Add a hover effect */
  .fa:hover {
    opacity: 0.7;
  }

  /* Set a specific color for each brand */
  .fa-instagram {
    background: #ff1493;
    color: white;
  }

  .fa-whatsapp {
    background: #32cd32;
    color: white;
  }

  .fa-facebook {
    background: #1e90ff;
    color: white;
  }
  .social-icon:first-child {
    margin-left: 5px;
  }
  .social-icon {
    margin-right: 5px;
  }
</style>
    

    </div>
    <!-- Closing the container div -->

    <footer class="footer mt-auto py-3 bg-light">
      <div class="container text-center">
        <span class="text-muted">© 2024 Onion News Aggregator</span>
      </div>
    </footer>
  </div>

    <script>
      // JavaScript function to open news content in a pop-up window
      function openNewsPopup(url) {
        // Define width and height for the pop-up window
        var width = 800;
        var height = 600;
        // Calculate the position to center the pop-up window on the screen
        var leftPosition = (window.screen.width - width) / 2;
        var topPosition = (window.screen.height - height) / 2;
        // Construct the features for the pop-up window
        var features =
          "toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=" +
          width +
          ", height=" +
          height +
          ", top=" +
          topPosition +
          ", left=" +
          leftPosition;
        // Open the pop-up window with the specified URL and features
        var popupWindow = window.open(url, "NewsPopup", features);
        // Focus on the pop-up window
        if (window.focus) {
          popupWindow.focus();
        }
        // Prevent the default behavior of the anchor tag
        return false;
      }

      // add a temporary textarea element, set url to it, select from there
      function copyToClipboard(text) {
        var input = document.createElement("textarea"); //create text area
        input.value = text; //url set as value to textarea
        document.body.appendChild(input); //add text area to body
        input.select(); //select textarea content
        document.execCommand("copy");
        document.body.removeChild(input);
        alert("Copied to clipboard: " + text);
      }

      function themeChange() {
        var element = document.body;
        element.classList.toggle("dark-mode");
      }
      
      let container2=document.getElementById("container2");

      let loginbtn=document.getElementById("loginbtn");
      let rloginbtn=document.getElementById("rloginbtn");
      let registerbtn = document.getElementById("registerbtn");

      let element = document.getElementById("loginBox");
      let element1=document.getElementById("registerBox");

      let loginbtns=[loginbtn,rloginbtn];
      loginbtns.forEach((k)=>{
        k.addEventListener('click',(e)=>{
        e.preventDefault();
        console.log(loginbtn);
        element.style.display='block'
        element1.style.display='none'
        container2.style.top='-32vw';
        container2.style.filter='blur(1.5px)';
        window.scrollTo(0,700);
      });
      })


      registerbtn.addEventListener('click',(e)=>{
        e.preventDefault();
        element.style.display='none'
        element1.style.display='block'
        container2.style.top='-46vw';
        container2.style.filter='blur(1.5px)';
        window.scrollTo(0,700);
      });

    </script>

    
    <!-- Bootstrap JS (Optional if you're not using any other Bootstrap features) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    
  </body>
</html>
