asgiref==3.7.2
autopep8==1.6.0
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
charset-normalizer==3.2.0
dj-database-url==0.5.0
Django==5.0.6
django-admin-volt==1.0.10
django-environ==0.8.1
django-jazzmin==3.0.0
django-social-share==2.3.0
gunicorn==21.2.0
idna==3.4
packaging==23.1
pillow==10.2.0
pycodestyle==2.8.0
PyMySQL==1.1.0
python-dotenv==1.0.1
pytz==2021.3
pyzbar==0.1.9
requests==2.31.0
setuptools==69.5.1
soupsieve==2.4.1
sqlparse==0.4.4
str2bool==1.1
toml==0.10.2
tzdata==2023.3
urllib3==2.0.4
whitenoise==5.3.0
