<div style="display: flex; align-items: center; justify-content: flex-end;">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Category
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="{% url 'core:scrape' name='latest' %}">Latest</a></li>
            <li><a class="dropdown-item" href="{% url 'core:scrape' name='entertainment' %}">Entertainment</a></li>
            <li><a class="dropdown-item" href="{% url 'core:scrape' name='sports' %}">Sports</a></li>
            <li><a class="dropdown-item" href="{% url 'core:scrape' name='politics' %}">Politics</a></li>
            <li><a class="dropdown-item" href="{% url 'core:scrape' name='opinion' %}">Opinion</a></li>
            <li><a class="dropdown-item" href="{% url 'core:scrape' name='breaking-news' %}">Breaking News</a></li>
            <li><a class="dropdown-item" href="{% url 'core:top_rated_articles' %}">Top Rated</a></li>

        </ul>
    </div>
</div>