{% load static %}
<footer>
    <div class="footer-section">
        <div class="wrapper">
            <a href="#" class="footer-logo">
                <span class="logo-light">
                    <span class="logo-container"><img src="{% static './assets/images/news.png' %}" alt="logo" width="70" />Onion News</span>
                </span>
                <span class="logo-dark">
                    <span class="logo-container"><img src="{% static './assets/images/news.png' %}" alt="logo" width="70" />Onion News</span>
                </span>
            </a>

            <p class="footer-text">
                <span>&copy; 2024 Onion News Aggregator. All rights reserved.</span>
            </p>
        </div>
        <div class="wrapper">
            <div id="google_element"></div>
            <script src="https://translate.google.com/translate_a/element.js?cb=loadGoogleTranslate"></script>
            <script>
              function loadGoogleTranslate() {
                new google.translate.TranslateElement({
                  pageLanguage: 'en'
                }, 'google_element');
              }
            </script>
        </div>

        <div class="wrapper">
            <p class="footer-title">Quick Links</p>
            <ul>
                <li>
                    <a href="{% url 'core:advertise' %}" class="footer-link">Advertise with Me</a>
                </li>

                <li>
                    <a href="{% url 'core:about' %}" class="footer-link">About Us</a>
                </li>

                <li>
                    <a href="{% url 'core:contact' %}" class="footer-link">Contact Me</a>
                </li>
            </ul>
        </div>

        <div class="wrapper">
            <p class="footer-title">Legal Corner</p>
            <ul>
                <li>
                    <a href="{% url 'core:privacy' %}" class="footer-link">Privacy Notice</a>
                </li>
                <li>
                    <a href="#" style="pointer-events: none; opacity: 0.5;" class="footer-link">Cookie Policy</a>
                </li>
                <li>
                    <a href="#" style="pointer-events: none; opacity: 0.5;" class="footer-link">Terms Of Use</a>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="hr-container">
        <p class="copyright" style="margin: 0;">&copy; Copyright 2024 <a href="#">Onion News</a></p>
    </div>


    
</footer>