{% load static %}
<nav class="navbar">
    <a href="{% url 'core:index' %}">
        <span class="logo-light">
            <span class="logo-container"><img src="{% static './assets/images/news.png' %}" alt="logo" width="70" />Onion News</span>
        </span>
        <span class="logo-dark">
            <span class="logo-container"><img src="{% static './assets/images/news.png' %}" alt="logo" width="70" />Onion News</span>
        </span>
    </a>
    <div class="btn-group">
        <button class="theme-btn theme-btn-mobile light">
            <ion-icon name="moon" class="moon"></ion-icon>
            <ion-icon name="sunny" class="sun"></ion-icon>
        </button>

        <button class="nav-menu-btn">
            <ion-icon name="menu-outline"></ion-icon>
        </button>
    </div>

    <div class="flex-wrapper">
        <ul class="desktop-nav">
            <li>
                <a href="{% url 'core:index' %}" class="nav-link">Home</a>
            </li>

            <li>
                <a href="{% url 'core:about' %}" class="nav-link">About Us</a>
            </li>

            <li>
                <a href="{% url 'core:contact' %}" class="nav-link">Contact</a>
            </li>

            <li>{% if not request.user %}
                <a href="{% url 'userauths:sign-up' %}" class="nav-link">Sign-in/Sign-up</a>
                {% else %}
                <a href="{% url 'userauths:sign-out' %}" class="nav-link">Sign-out</a>
                {% endif %}
            </li>
        </ul>

        <button class="theme-btn theme-btn-desktop light">
            <ion-icon name="moon" class="moon"></ion-icon>
            <ion-icon name="sunny" class="sun"></ion-icon>
        </button>
    </div>

    <div class="mobile-nav">
        <button class="nav-close-btn">
            <ion-icon name="close-outline"></ion-icon>
        </button>

        <div class="wrapper">
            <p class="h3 nav-title">Main Menu</p>

            <ul>
                <li class="nav-item">
                    <a href="{% url 'core:index' %}" class="nav-link">Home</a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'core:about' %}" class="nav-link">About Me</a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'core:contact' %}" class="nav-link">Contact</a>
                </li>
            </ul>
        </div>

        <div>
            <p class="h3 nav-title">Topics</p>

            <ul>
                <li class="nav-item">
                    <a href="#" class="nav-link">Web Develop</a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">AI/ML</a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">Data Science</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
